.content__right__greeting
    display: flex
    flex-direction: column
    align-items: center
    max-width: 1016px
    width: 100%
    margin: 0 auto
    padding-top: 62px
    background-color: #fff
    .main-h1
        color: $color111
        font-weight: 800
        font-size: 26px
        margin: 0
        margin-bottom: 31px
        padding-right: 10px
        padding-left: 10px
        .gold-h1
            color: #f2b020
    .greeting
        margin: 0 0 30px
        max-width: 730px
        width: 100%
    .video-iframe
        // width: 730px
        // height: 410px

.frame_blc
    overflow: hidden
    position: relative
    padding-bottom: 37.25%
    padding-top: 30px
    height: 0

.iframe, object, embed
    position: absolute
    width: 100%
    height: 100%
    left: 0
    top: 0
.content__right__greeting

.btn-greeting
    max-width: 730px
    width: 100%
    background-color: #146614
    font-size: 13px
    text-transform: uppercase
    font-weight: 600
    letter-spacing: 3px
    color: #fff
    border-radius: 10px
    margin-bottom: 99px
    &:focus, &:hover
        &:hover
            background-color: lighten(#146614, 5%)
        &:active
            background-color: darken(#146614, 5%)
